static/sonoma-av1-1080p-24fps-sdr-1601kbps.webm filter=lfs diff=lfs merge=lfs -text
static/sonoma-av1-1080p-24fps-sdr-444kbps.webm filter=lfs diff=lfs merge=lfs -text
static/sonoma-hvc1-1080p-24fps-sdr-327kbps.mp4 filter=lfs diff=lfs merge=lfs -text
