.me {
  display: flex;
  $gap: 15px;
  gap: $gap;
  align-self: center;

  .info {
    .imgBlock {

      video {
        float: left;
      }

      img, video {
        margin: 0 10px;
      }
    }

    .about {
      width: 100%;
      line-height: 1.7em;//1.65;
      display: flex;
      align-items: center;

      h2 {
        line-height: 1.9em;
      }

      .text {
        margin: 0 10px;
        width: 560px;
        font-size: calc(15/16*1rem);
      }

      ul {
        li {
          margin: 20px 0;
        }
      }
    }
  }

  .rightCol {
    display: flex;
    flex-direction: column;
    gap: $gap;

    .topRow {
      display: flex;
      gap: $gap;

      .profileCard {
        flex: 1;
      }

      .avatar img {
        background-color: #eee;
      }

      .contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .experience {
      flex: 1;
      
      .categories {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .technologiesGrid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;

          .technology {
            
            .name {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            svg {
              width: auto;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
