.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 80px;
  box-sizing: border-box;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  .title {
    width: 100%;
    margin-bottom: 30px;
    align-items: end;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
