.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 80px;
  box-sizing: border-box;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding: 30px;
  }
  
  .title {
    width: 100%;
    margin-bottom: 30px;
    align-items: end;
    
    .arrowButton {
      display: inline;
      vertical-align: middle;
      margin-right: 10px;
    }

    .text {
      display: inline;
      vertical-align: middle;
    }
  }
}

.services,
.aboutSite {
  display: flex;
  gap: 15px;
}

.services {
  flex-direction: column;

  .avatar {
    margin-right: 5px;

    svg {
      vertical-align: sub;
    }
  }
}

.aboutSite {
  width: 100%;
  justify-content: center;
  align-items: flex-start;

  & > div {
    max-width: 100%;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .leftCol {
    width: 800px;
    align-items: flex-start;
    line-height: 1.7em;

    .text {
      font-size: calc(15/16*1rem);

      .counter {
        line-height: normal;
        font-weight: bold;
        text-transform: none;
      }
    }
  }

  .rightCol {
    width: 400px;

    & > div > div {
      gap: 25px;

      .img {
        position: relative;
        
        &,
        img,
        span {
          border-radius: 10px;
          width: 100%;
        }

        img {
          position: absolute;
          z-index: 1;
        }

        span {
          height: 100%;
        }

        &:nth-child(1) { 
          &,
          img {
            aspect-ratio: 16 / 12;
          }
        }

        &:nth-child(2) {
          &,
          img {
            aspect-ratio: 16 / 10;
          }
        }
      }
    }
  }
}