.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 80px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  .title {
    width: 100%;
    margin-bottom: 30px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.portfolio {

  .logo {
    width: auto;
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
  }
}
