.container {
  border-radius: 15px !important;
  overflow: hidden;
  box-shadow: 0 5px 30px 0 hsla(0, 0%, 0%, 0.2);

  .card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    text-decoration: none;
    color: #000000;

    .avatar {
      margin-right: 10px;
      background-color: #eee;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 999px;
      box-shadow: inset -2px -2px 8px 0 hsla(0, 0%, 0%, 0.2);

      svg {
        $size: 48px;
        width: $size;
        height: $size;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      text-align: left;
      flex: 1;

      .title {

      }

      .subtitle {

      }

      .caption {

      }

    }

    .chevron > svg {
      $size: 30px;
      width: $size;
      height: $size;
      color: #fff;
    }

    a {
      color: #585858;
      font-weight: 600;
      font-size: 0.9em;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #000;
      }
    }

    &.darkTheme {
      background: linear-gradient(125deg, #282828, #1e1e1e);
      color: #fff;

      .avatar {
        background: linear-gradient(139deg, hsl(0, 0%, 23%), hsl(0, 0%, 19%));
        color: #fff;
      }

      a {
        color: #c5c5c5;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
