@import '../../styles/transitions.scss';

.container {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  z-index: 2;

  @media screen and (max-width: 428px) {
    background-color: var(--paper-background);
    @include defaultTransition(background-color);
    border-radius: 25px 0 0 0;
    padding: 10px;
    flex-direction: row;
  }

  .languageChange {
    display: flex;
    justify-content: flex-end;

    .languages {
      overflow: hidden;
      display: flex;
      justify-content: flex-start;

      .languagesInner {
        width: fit-content;
        display: flex;
        gap: 10px;
        box-sizing: border-box;

        img {
          width: 24px;
          user-drag: none;
          -webkit-user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }

        .focused {
          background-color: rgba(100, 100, 100, 0.3);
        }
      }
    }
  }
}
